<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.krl.visiteducationbackend.mapper.RecordMapper">

    <resultMap id="RecordMap" type="cn.krl.visiteducationbackend.entity.Record">
        <id column="id" property="id"></id>
        <result column="schoolName" property="schoolName"></result>
        <result column="subjectName" property="subjectName"></result>
        <result column="subjectCode" property="subjectCode"></result>
        <result column="teacherName" property="teacherName"></result>
        <result column="projectName" property="projectName"></result>
        <result column="taskName" property="taskName"></result>
        <result column="gmtCreate" property="gmtCreate"></result>
        <result column="gmtModified" property="gmtModified"></result>
    </resultMap>

    <select id="listTheSame" resultMap="RecordMap">
      select * from record
      where #{recordDTO.schoolName}=schoolName and #{recordDTO.subjectName}=subjectName
      and #{recordDTO.subjectCode}=subjectCode and #{recordDTO.projectName}=projectName
      and #{recordDTO.teacherName}=teacherName and #{recordDTO.taskName}=taskName
    </select>

    <select id="listRecordsByQueryDTO" resultMap="RecordMap">
      select * from record
      where #{recordQueryDTO.schoolName}=schoolName and #{recordQueryDTO.subjectName}=subjectName
      and #{recordQueryDTO.projectName}=projectName
    </select>


</mapper>
